@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif; /* Tipo de letra */
    font-size: 18px; /* Tamaño de letra general */
}

.header {
    background-color: white;
    border-top: 20px solid rgba(20, 75, 0, 1);
    border-bottom: 20px solid rgba(20, 75, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 0 10%;
}

.header .logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: none;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links li {
    display: inline-block;
}

.header .nav-links a {
    font-weight: 700;
    color: #1b3039;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
    transition: background-color 0.3s ease;
}

.header .nav-links a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: rgba(20, 75, 0, 1);
    transition: width 0.3s ease;
}

.header .nav-links a:hover::before {
    width: 100%;
}

.header .nav-links a:active {
    background-color: rgba(140, 172, 96, 1);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.header .nav-links a.active {
    background-color: rgba(140, 172, 96, 1);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.header .btn button {
    font-weight: 700;
    color: #ffffff;
    padding: 9px 25px;
    background: rgba(140, 172, 96, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #45a049;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

/* Responsividad */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .header .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header .nav-links li {
        display: block;
        margin: 10px 0;
    }

    .header .btn button {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .header .logo img {
        height: 50px;
    }

    .header .nav-links {
        display: none; /* Esconde el menú en móviles pequeños */
    }

    .header .btn button {
        width: 100%;
    }
}

/*--------------*/

/* Agregar la fuente Changa a toda la sección de información */
.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; /* Ajustar la altura de las filas automáticamente */
    gap: 15px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Changa', sans-serif;
}

.info-box {
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.info-box.large-vertical {
    grid-row: 1 / span 2; /* Ocupa dos filas verticalmente */
}

.info-box.small-horizontal {
    grid-row: auto;
}

.info-box:first-of-type {
    grid-column: 1 / span 1;
}

.info-box:nth-child(2),
.info-box:nth-child(3) {
    grid-column: 2 / span 1;
}

.info-box:last-of-type {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

.info-box:hover {
    transform: translateY(-10px);
}

.info-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 75, 0, 0.5);
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 200;
}

.register-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(140, 172, 96, 1);
    color: #ffffff;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Responsividad para los cuadros */
@media (max-width: 1024px) {
    .info-section {
        grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas medianas */
        grid-template-rows: auto;
        height: auto; /* Dejar que la altura se ajuste automáticamente */
    }

    .info-box.large-vertical {
        grid-row: auto;
        grid-column: span 2; /* Los cuadros grandes ocuparán dos columnas en pantallas medianas */
    }

    .info-box:last-of-type {
        grid-column: span 2; /* Ocupa dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .info-section {
        grid-template-columns: 1fr; /* Una sola columna para pantallas pequeñas */
        grid-template-rows: auto;
        gap: 10px;
        padding: 20px;
    }

    .info-box.large-vertical,
    .info-box.small-horizontal {
        grid-column: span 1; /* Cada cuadro ocupará toda la columna disponible */
        grid-row: auto;
    }
}


#plan-section {
    padding: 10px 20px; /* Ajusta el padding aquí */

    background-color: white;
    font-family: 'Changa', sans-serif;
}

#plan-section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;

}

.plan-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}


.plan {
    background-color: #2C5E1A;
    border-radius: 20px;
    color: white;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Changa', sans-serif;
}


.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}


.plan h3 {
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0 15px;

}

.plan .description {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}


.plan .price {
    font-size: 64px;
    font-weight: 600;
    margin: 10px 0 20px;
}


.plan ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    font-size: 18px;
    font-weight: 300; /* Light */
    margin: 0;
    text-align: left;
}


.plan ul li {
    margin-bottom: 10px;
    text-align: left;
}

/* Estilo del botón dentro de cada plan */
.plan button {
    background-color: #8CAC60;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Changa', sans-serif;
}

/* Efecto de hover en el botón */
.plan button:hover {
    background-color: #7A9952;
}



@media (max-width: 768px) {
    .plan-container {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .plan {
        width: 100%;
    }
}
#team-section {
    padding: 50px 0;
    text-align: center;
}

#team-section .container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 15px;
}

#team-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    font-family: 'Changa', sans-serif;
}

#team-section .team-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#team-section .team-member {
    flex: 1 1 calc(20% - 20px);
    max-width: calc(20% - 20px);
    position: relative;
    text-align: center;
    overflow: hidden; /* Asegura que el overlay no se desborde */
}

#team-section .image-person {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

#team-section .team-member img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

#team-section .team-member:hover img {
    transform: scale(1.1);
}

#team-section .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    text-align: center;
}

#team-section .team-member:hover .overlay {
    transform: translateY(0);
}

#team-section .overlay h3 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
}

#team-section .overlay .role {
    font-size: 1em;
    margin: 0;
}

/* Responsivo */
@media (max-width: 1200px) {
    #team-section .team-member {
        flex: 1 1 calc(25% - 20px);
        max-width: calc(25% - 20px);
    }
}

@media (max-width: 992px) {
    #team-section .team-member {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }

    #team-section .overlay h3 {
        font-size: 1.1em;
    }

    #team-section .overlay .role {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    #team-section .team-member {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    #team-section .overlay h3 {
        font-size: 1em;
    }

    #team-section .overlay .role {
        font-size: 0.85em;
    }
}

@media (max-width: 576px) {
    #team-section .team-member {
        flex: 1 1 100%;
        max-width: 100%;
    }

    #team-section .overlay h3 {
        font-size: 0.9em;
    }

    #team-section .overlay .role {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    #team-section .overlay h3 {
        font-size: 0.8em;
    }

    #team-section .overlay .role {
        font-size: 0.7em;
    }

    #team-section h2 {
        font-size: 2em;
    }
}

.gallery-COMPLETE{
    font-size: 4rem;
    margin-bottom: 20px;
    text-align: center;
    max-width: 1200px;
    font-weight: normal;
    margin:auto;
}

.gallery-COMPLETE h1{
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    align-items: center;
    margin: auto;
}
.gallery img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.gallery img:hover {
    transform: scale(1.05);
}

/*Contact Us Section*/
.container {
    flex: 1;
}

/* Contact Us Section */
.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.contact-us img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.contact-form {
    max-width: 500px;
    width: 100%;
}

.contact-form h1 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #006400;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #228B22;
}

@media (min-width: 640px) {
    .contact-form h1 {
        font-size: 1.8rem;
    }

    .contact-form button {
        font-size: 1rem;
    }
}

@media (min-width: 1280px) {
    .contact-form h1 {
        font-size: 2.5rem;
    }

    .contact-form button {
        font-size: 1.3rem;
    }
}

@media (min-width: 1536px) {
    .contact-form h1 {
        font-size: 3rem;
    }

    .contact-form button {
        font-size: 1.5rem;
    }
}